<app-detail-layout
  *ngIf="item.id"
  header="{{ '::Subject' | abpLocalization }}"
  tooltip="Represent a request to generate something"
>
  <div slot="primary">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col col-md-6">
            <h5 class="card-title">
              {{ item.serial }}
            </h5>
          </div>
          <div class="text-end col col-md-6">
            <div class="text-lg-end pt-2">
              <button
                *abpPermission="'OneGen.Subjects.Edit'"
                id="btn-edit-item"
                class="btn m-1"
                type="button"
                [disabled]="isLoading"
                (click)="formModal.edit(item.id)"
              >
                <i class="fa fa-pencil me-1"></i>
                <span>{{ '::Edit' | abpLocalization }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <small class="d-block mb-1">
              {{ '::Operation' | abpLocalization }}
            </small>
            <h5 class="text-dark">
              {{ item.operation }}
            </h5>
          </div>
          <div class="col-12">
            <small class="d-block mb-1">
              {{ '::Prompt' | abpLocalization }}
            </small>
            <h5 class="text-dark">
              {{ item.prompt }}
            </h5>
          </div>
        </div>
      </div>
    </div>
    <app-variants-text-list
      *ngIf="item.type === SubjectType.Text"
      [subjectId]="item.id"
    ></app-variants-text-list>
    <app-variants-audio-list
      *ngIf="item.type === SubjectType.Audio"
      [subjectId]="item.id"
    ></app-variants-audio-list>
    <app-variants-image-list
      *ngIf="item.type === SubjectType.Image"
      [subjectId]="item.id"
    ></app-variants-image-list>
  </div>
</app-detail-layout>

<app-subject-form-modal (saved)="onSaved()"></app-subject-form-modal>
